

:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: floralwhite;
    background-image: url("../image/bg4.jpg");
    font-family: Apple LiGothic Medium;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    min-height: 100hv;
}
.head {
    color: transparent;
    font-size: 20px;
    text-shadow: 0 0 3px pink;
    margin-left: 50px;
    font-family: Apple LiGothic Medium;
}
p {
    font-size: 25px;
    color: floralwhite;
    font-family: STXihei;
}

.slide-container {
    position: relative;
}

.popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 55px;
    padding: 80px;
    position: relative;
    display: inline-block;
    animation: neon 5s infinite, fliker 5s;
}

.timer {
    font-family: Futura, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: white;
    animation: neon 2s infinite, op 5s;
}
@keyframes neon {
    0% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }

    50% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }

    100% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}


p {
    display: inline;
}

.c1 {
    position: center;
    text-align: center;
    animation: opy 5s;
}

.mySlides {
    border-radius: 30px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
}
.slideShow {
    animation: op 5s;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.comment {
    text-align: center;
    animation: op 5s;
}
.mbnt {
    font-family: Futura, sans-serif;
    border-radius: 30px;
    background-color: lightpink;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    position: absolute;
    animation: op2 5s, glowing 5s infinite,neon 2s infinite;
    left: 50%;
}
input {
    width: 375px;
    height: 25px;
}
#com {
    width: 375px;
    height: 200px;
}
.combnt {
    width: 80px;
    height: 25px;
    margin-left: 50px;
    animation: op 5s;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@keyframes fliker {
    0% {
        
        opacity: 0;
    }

    10% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.8;
    }
    100% {
        
        opacity: 1;
    }
}
@keyframes op {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes op2 {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes opy {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes glowing {
    0% {
        background-color: lightpink;
        box-shadow: 0 0 3px lightpink;
    }

    50% {
        background-color: hotpink;
        box-shadow: 0 0 50px hotpink;
    }

    100% {
        background-color: lightpink;
        box-shadow: 0 0 3px lightpink;
    }
}

