body {
    color: navajowhite;
    background-image: url("../image/bg3.jpg");
    
    background-size: cover;
    background-position: center;
    background-blend-mode:overlay;
    min-height:100hv;

}
