

:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: floralwhite;
    background-image: url("../image/bg4.jpg");
    
    background-size: cover;
    background-position: center;
    background-blend-mode:overlay;
    min-height:100hv;

}

p {
    font-size: 25px;
    color: floralwhite;
    font-family: STXihei;
}

.slide-container {
    position: relative;
}


.timer {
    font-size: 65px;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: white;
    animation: neon 2s infinite, op 5s;
   
}
@keyframes neon {
    0% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }

    50% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }

    100% {
        text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 2px -2px 2px var(--shadow-color-light), 2px 2px 2px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}


p {
    display: inline;
}

.c1 {
    position: relative;
    display: inline;
}

.mySlides {
    border-radius: 30px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
}
.slideShow {
    animation: op 5s;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.mbnt {
    display: inline-block;
    border-radius: 4px;
    background-color: palevioletred;
    border: none;
    color: lightpink;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes op {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}